@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #252525 !important;
  font-size: 14px;
}
nav {
  background-color: white;
  z-index: 111;
}

.navLink:hover {
  color: gray;
  cursor: pointer;
  transform: scale(1.1);
}

.logout:hover {
  color: gray;
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: underline;
}

.navLink {
  margin-right: 15px;
  cursor: pointer;
}

h1 {
  font-weight: bold;
  font-size: 109.08px;
  line-height: 1;
  margin-bottom: 5px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1000px) {
  .admin-header-left {
    margin-left: 15px !important;
  }
  .admin-header-right {
    margin-right: 15px !important;
  }
}
@media only screen and (max-width: 800px) {
  .banner {
    display: block !important;
  }
  .banner {
    min-height: 0px !important;
  }
  .banner * {
    text-align: center;
    max-width: 100% !important;
  }
  .avatar {
    max-width: 400px !important;
  }
  h1 {
    font-size: 60px !important;
  }
}

@media only screen and (max-width: 450px) {
  .avatar {
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 850px) {
  .interchanged_one {
    display: none !important;
  }
  .interchanged_two {
    display: block !important;
  }
}

@media only screen and (max-width: 550px) {
  .project_sub_grid {
    flex-direction: column !important;
  }
  .project_box {
    max-width: 300px !important;
    height: 400px !important;
  }
}

@media only screen and (max-width: 350px) {
  .project_box {
    max-width: 250px !important;
    height: 350px !important;
  }
}

.arrows {
  width: 15.87px;
  height: 50px;
}

.arrows path {
  stroke: #252525;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

* {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.project_box:hover {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  box-shadow: #d4cece 3px 3px 3px 1px;
}

.logo:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

footer {
  padding: 10px;
}

footer a {
  cursor: pointer;
}

footer *:hover {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

footer *:hover p {
  width: 80px !important;
}

footer a div p {
  margin-bottom: 0px;
}

footer a div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_button:hover {
  box-shadow: #d4cece 3px 3px 3px 1px;
  background-color: #414141 !important;
}

.error_message {
  color: red !important;
  font-weight: bold;
}

.loading * {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

textarea {
  margin: none;
  outline: none;
  border-left: solid #252525;
  padding: 10px;
  width: 100%;
  min-height: 100%;
  flex: 1;
  resize: none;
  overflow: auto;
  min-height: 200px;
}

.save:hover {
  background-color: #d4cece;
}

p,
textarea {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.admin-header-left {
  margin: 0 !important;
}
