@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #252525 !important;
}

.navLink:hover {
  color: gray;
  cursor: pointer;
}

.navLink {
  margin-right: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .home_banner {
    display: block !important;
  }
  .avatar {
    max-width: 400px !important;
  }
}

@media only screen and (max-width: 450px) {
  .avatar {
    max-width: 100% !important;
  }
}

.arrows {
  width: 15.87px;
}

.arrows path {
  stroke: #252525;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
