@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #252525 !important;
}

.navLink:hover {
  color: gray;
  cursor: pointer;
}

.navLink {
  margin-right: 15px;
  cursor: pointer;
}

h1 {
  font-weight: bold;
  font-size: 109.08px;
  line-height: 1;
  margin-bottom: 5px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 800px) {
  .banner {
    display: block !important;
  }
  .avatar {
    max-width: 400px !important;
  }
  .banner * {
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 450px) {
  .avatar {
    max-width: 100% !important;
  }
}

.arrows {
  width: 15.87px;
}

.arrows path {
  stroke: #252525;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
